body{
    background-color: black;
}
#heading1{
    color: white;
    text-align: center;
}
#para{
    color: white;
    text-align: center;
}
#image{
    border: 5px solid white;
    margin: 50px 250px;
}